/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&family=Roboto+Flex:wght@300..900&display=swap');

/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-weight: 300;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 14px;
}

blockquote,
ul,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}